---
import { logger } from "astro/logger";
console.log("wtf");
console.log(Astro);
const title = "fuck";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{title}</h1>
    <script>
      console.log();
    </script>
  </body>
</html>
