---
// Allow passing a msg prop
const { msg } = Astro.props;
---

<button class="btn">
  {msg}
</button>
<style>
  .btn {
    background: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
</style>
